<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.dao.AdminDao">
    <insert id="addAdmin">
        insert into admins(name,stuid,password) values(#{name},#{stuid},#{password})
    </insert>
    <select id="findAdminByStuidAndPassword" resultType="com.example.library.model.Admin">
        select * from admins where stuid=#{stuid} and password=#{password}
    </select>
</mapper>